/* .span-showcase {
  color: #8e3fd8;
}

.btn-showcase {
  color: #8e3fd8;
  font-size: larger;
  font-weight: bolder;
  border: black 2px;
} */

body::before {
  display: block;
  content: "";
  height: 60px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
